/*importing Montserrat font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

li {
  display: inline;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 25px 100px 0 100px;
}

li a {
  display: block;
  padding: 15px;
  font-size: 16px;
  color: #3A1111;
  text-decoration: none; 
}

li a:hover{
  color: white;

}

li button {
  padding: 15px;
  background-color: #3A1111;
  color: white;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
}

li button:hover{
  background-color: white;
  color: #3A1111;
  transition: background-color 0.3s, color 0.3s; /*add transition for smooth effect*/
  cursor: pointer;
}

p {
  display: inline;
  font-size: 20px;
}

body{
  background-image: url("../asset/rectangle1.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
}

main{
  margin: 150px 100px 0 100px;
}

h1{
  font-size: 45px;
}

main p{
  color: #6B6262;
  font-size: 16px;
}

/* .left-section input{
  position: relative;
  width: 580px;
  height: 60px;
  border-radius: 50px;
  margin: 40px 0 20px 0;
  padding: 0 0 0 30px;
  font-size: 16px;
  border: 2px solid #3A1111 ;  
}

.left-section input:hover{
  box-shadow: 0 0 10px #3A1111;
  border: 2px solid #3A1111; 
  transition: box-shadow 0.3s;
} */


.input-icon {
  position: relative;
  width: 580px;
}

.input-icon input {
  width: 100%;
  height: 60px;
  border-radius: 50px;
  padding: 0 0 0 30px; /* Add space for the icon and box */
  margin: 40px 0 20px 0;
  font-size: 16px;
  border: 2px solid #3A1111;
}

.input-icon input:hover{
  box-shadow: 0 0 10px #3A1111;
  border: 2px solid #3A1111; 
  transition: box-shadow 0.3s; /*add transition for smooth effect*/
  cursor: pointer;
}

.input-icon i {
  position: absolute; 
  right: -5px; /* Adjust this value to position the icon */
  top: 57%; /* Center the icon vertically */
  transform: translateY(-50%); /* Center the icon vertically */
  font-size: 24px;
  color: #3A1111;
  pointer-events: none; /* So clicks go to the input */
}

.button-section .send {
  width: 269px;
  height: 68px;
  margin: 0 20px 0 0;
  background-color: #3A1111;
  color: white;
  border-radius: 50px;
  text-transform: uppercase;
}
.button-section .send:hover{
  background-color: white;
  color:#3A1111;
  transition: background-color 0.3s, color 0.3s; /*add transition for smooth effect*/
  cursor: pointer;
}

.button-section .pickup {
  width: 269px;
  height: 68px;
  margin-left: 20px;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: white;
}

.button-section .pickup:hover{
  background-color: #3A1111;
  color: white;
  transition: background-color 0.3s, color 0.3s; /*add transition for smooth effect*/
  cursor: pointer;
}


